.header {
    height: 8%;
    display: flex;
    justify-content: space-between;
background-image: linear-gradient(to right top, #86a8e7, #69bff8, #4ad5ff, #41e9fd, #5ffbf1);}
h1 {
    font-size:xx-large;
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}