<div class="container">
    <div class="zarzadzaja">
        <ul class="zarzadzaj">
        <li>
            <button mat-raised-button color="primary" (click)="editTytul()"><mat-icon>edit</mat-icon>  Zmień tytuł</button>
        </li>
        <li>
            <button mat-raised-button color="primary" (click)="editStreszczenie()"><mat-icon>edit</mat-icon> Zmień streszczenie</button>
        </li>
                <li>
            <button mat-raised-button color="primary" (click)="editAutor()"><mat-icon>edit</mat-icon>  Zmień autora</button>
        </li>
        <li>
            <button mat-raised-button color="primary" (click)="dodajPlik()"><mat-icon>add_box</mat-icon>  Dodaj plik</button>
        </li>
        <!-- <li>
            <button mat-raised-button color="warn" (click)="dodajPlik1()"><mat-icon>delete</mat-icon>  Usuń plik</button>
        </li> -->
        <li>
            <button mat-raised-button color="warn" (click)="deletePublikacja()"><mat-icon>delete</mat-icon>  Usuń publikację</button>
        </li>
        </ul>
        </div>
        
<ng-container *ngIf="publikacjaa">
    
    <!-- <mat-toolbar color="primary"> -->
         <h1>Autor publikacji: <strong>{{ publikacjaa.autorStopienNaukowy}} {{ publikacjaa.autorImie}} {{ publikacjaa.autorNazwisko}} </strong> </h1>
        <br>
         <h1> Tytuł publikacji: <strong>{{ publikacjaa.tytul }}</strong> </h1>
         <br>
        <h1>Streszczenie:</h1>
        <span>{{publikacjaa.streszczenie}}</span><br>
        <br>
        <h1>Załączniki:</h1>

        <div *ngFor="let plik of pliki">
           <span>Nazwa pliku: <strong>{{plik.nazwaPliku}}</strong>&nbsp;&nbsp; </span> 
            <button mat-flat-button class="przycisk" (click)="getPlik(plik)">
                <mat-icon>cloud_download</mat-icon>  Pobierz 
            </button>            
            &nbsp;&nbsp;         
            <button mat-flat-button color="warn"  (click)="deletePlik1(plik._id)">
                <mat-icon>delete_forever</mat-icon>  Usuń
            </button><br><br><br><br>
        </div>
        
        
        
        <!-- <button>aaa</button>
    </mat-toolbar> -->
</ng-container>
</div>