<div class="container">
    <div class="zarzadzaja">
        <ul class="zarzadzaj">
        <li>
            <button mat-raised-button color="primary" (click)="editTytul()">Zmień tytuł</button>
        </li>
        <li>
            <button mat-raised-button color="primary" (click)="editStreszczenie()">Zmień streszczenie</button>
        </li>
        <li>
            <button mat-raised-button color="primary" (click)="dodajPlik()">Dodaj plik</button>
        </li>
        <li>
            <button mat-raised-button color="warn" (click)="dodajPlik1()">Usuń plik</button>
        </li>
        <li>
            <button mat-raised-button class="przycisk" (click)="editAutor()">Zmień autora</button>
        </li>
        <li>
            <button mat-raised-button color="warn" (click)="deletePublikacja()">Usuń publikację</button>
        </li>
        </ul>
        </div>
        
<ng-container *ngIf="publikacjaa">
    
    <!-- <mat-toolbar color="primary"> -->
         <h1>Autor publikacji: <strong>{{ publikacjaa.autorStopienNaukowy}} {{ publikacjaa.autorImie}} {{ publikacjaa.autorNazwisko}} </strong> </h1>
        <br>
         <h1> Tytuł publikacji: <strong>{{ publikacjaa.tytul }}</strong> </h1>
         <br>
        <h1>Streszczenie:</h1>
        <span>{{publikacjaa.streszczenie}}</span><br>
        <br>
        <h1>Plik:</h1>
        <span>{{publikacjaa.plik}}       <button>Pobierz</button></span>
        
        
        
        <!-- <button>aaa</button>
    </mat-toolbar> -->
</ng-container>
</div>