<h1>Dodaj pliczek!</h1>
<span *ngIf="!file">Przeciągnij plik lub kliknij aby przesłać</span>
<br>
<div class="file-container" *ngIf="!file">

    
    
    <input type="file" (change)="getFile($event)" class="file" />

</div>
<span *ngIf="!file">Maksymalny format pliku to <strong>50 MB</strong>!</span>
<br>
<span *ngIf="!file">Akceptowane formaty: <strong>( jpg | jpeg | png | gif | pdf )</strong></span>
<br>


<br>
<div *ngIf="file">
    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

   <span> Nazwa pliku: <strong> {{file.name}} </strong> </span><br><br>
   <div class="przyciski">
<button mat-raised-button color="primary" (click)="uploadFile()">Prześlij plik</button>
<button mat-raised-button color="warn" (click)="file = undefined">Wyczyść</button>
</div>
</div>

