<div class="container">
    <div class="formularz">
    <h2>Dodaj publikacje</h2>

    <mat-form-field appearance="outline">
      <mat-label>Tytul</mat-label>
      <input type="text" matInput [formControl]="publikacjaTytul" required />
      <mat-error *ngIf="publikacjaTytul.invalid">
        {{ getPublikacjaTytulError() }}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Streszczenie</mat-label>
        <textarea matInput [formControl]="publikacjaStreszczenie" required></textarea>
        <mat-error *ngIf="publikacjaTytul.invalid">
          {{ getPublikacjaStreszczenieError() }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Stopień naukowy autora</mat-label>
        <textarea matInput [formControl]="publikacjaautorStopienNaukowy" required></textarea>
        <mat-error *ngIf="publikacjaautorStopienNaukowy.invalid">
          {{ getPublikacjaAutorStopienNaukowyError() }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Imie autora</mat-label>
        <textarea matInput [formControl]="publikacjaautorImie" required></textarea>
        <mat-error *ngIf="publikacjaautorImie.invalid">
          {{ getPublikacjaAutorImieError() }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Nazwisko autora</mat-label>
        <textarea matInput [formControl]="publikacjaautorNazwisko" required></textarea>
        <mat-error *ngIf="publikacjaautorNazwisko.invalid">
          {{ getPublikacjaAutorNazwiskoError() }}
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="createPublikacja()">
        Create
      </button>
  </div>
</div>