<div class="container">
<!-- <div class="wyszukiwarka">
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Wyszukaj</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let publikacja of publikacja$ | async" [value]="publikacja">
          {{publikacja.tytul}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div> -->

  
  <h1>Publikacje dostępne w serwisie:</h1>
      <ul class="publikacje">
          <li class="publikacja" *ngFor="let publikacja of publikacja$ | async">
            <mat-card (click)="onPublikacjaClick(publikacja._id)">
              <h3>{{ publikacja.tytul}}</h3>
            </mat-card>
          </li>
        </ul>
        

</div>